---
import {CtaElementFragment, DisplaySettingsFragment} from "../../../../../services/graphql/__generated/sdk";
export interface Props {
    element: CtaElementFragment;
    displaySettings: DisplaySettingsFragment[];

}
const {element, displaySettings} = Astro.props as Props;
---
<a href={element.Link.default} class="text-2xl">{element.Text}</a>
