---
import {DisplaySettingsFragment, HeadingElementFragment} from "../../../../../services/graphql/__generated/sdk";
import {getHeadingElementStyles} from "./HeadingElementStyling";
export interface Props {
    element: HeadingElementFragment;
    displaySettings: DisplaySettingsFragment[];
}
const {element, displaySettings} = Astro.props as Props;
---

<div class:list={getHeadingElementStyles(displaySettings)}>{element.headingText}</div>

