---
import Row from "../Row/Row.astro";
export interface Props {
    grid: any;
}
const {grid} = Astro.props as Props;
---
<!--<h1>this is a grid!</h1>-->
<div
        class="relative w-full flex flex-col flex-nowrap justify-start vb:grid"
        data-epi-block-id={grid.key}
>
    {grid.rows?.map((row: any) =>
            <Row row={row}/>)}
</div>
