---
import Elements from "../../elements/_Elements.astro";
export interface Props {
    row: any;
}
const {row} = Astro.props as Props;
let items = [];
row.columns?.map((column: any) => {
    column.elements?.map((element: any) => {
        items.push(element);
    });
});
---
<div class="carousel w-full">
    {items.map((item: any, index: number) => (
            <div id={`slide${index}`} class="carousel-item relative w-full">
                <Elements element={item}/>
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                    <a href={`#slide${index === 0 ? items.length - 1 : index - 1}`} class="btn btn-circle">❮</a>
                    <a href={`#slide${index === items.length - 1 ? 0 : index + 1}`} class="btn btn-circle">❯</a>
                </div>
            </div>
    ))}
</div>
