@import 'tailwindcss';
/* @import './inter.css'; */
/* @theme {--font-sans: InterVariable, sans-serif;} */

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    /* themes: all; */
    root: ':root';
    include:;
    exclude:;
    logs: true;
    themes:
        /* // Light themes */
        'light',
        'cupcake',
        'bumblebee',
        'emerald',
        'corporate',
        'retro',
        'cyberpunk',
        'valentine',
        'garden',
        'aqua',
        'lofi',
        'pastel',
        'fantasy',
        'wireframe',
        'cmyk',
        'autumn',
        'acid',
        'lemonade',
        
        /* // Dark themes */
        'dark',
        'synthwave',
        'halloween',
        'forest',
        'black',
        'luxury',
        'dracula',
        'business',
        'night',
        'coffee',
        'winter',
        'dim',
        'nord',
        'sunset'
}

@layer base {
    ul {
        @apply list-inside list-disc;
    }
    ol {
        @apply list-inside list-decimal;
    }
    p {
        @apply mb-4;
    }
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-base;
    }
    h6 {
        @apply text-sm;
    }
}
