---
import { Locales } from '../../../__generated/sdk';
import { getOptimizelySdk } from '../../graphql/getSdk';
import type { ContentPayload } from '../../graphql/shared/ContentPayload';
import ComponentPreviewLayout from '../../layouts/ComponentPreviewLayout.astro';

import Components from './_Components.astro';

const contentPayload = Astro.props.data as ContentPayload;

const optiResponse = await getOptimizelySdk(contentPayload).componentById({
    key: contentPayload.key,
    loc: contentPayload.loc as Locales,
    ver: contentPayload.ver,
});

const component = { component: optiResponse?._Content?.item || null };
---

{
    component !== null && component.component !== null && (
        <ComponentPreviewLayout>
            <div data-epi-block-id={contentPayload.key}>
                <Components contentPayload={contentPayload} data={component} />
            </div>
        </ComponentPreviewLayout>
    )
}
