---
import { ContentPayload } from '../../../../../services/shared/ContentPayload'
import {
  ArticleListElementFragment,
  DisplaySettingsFragment,
  Locales
} from '../../../../../services/graphql/__generated/sdk'
import BlogListingItem from '../../../OnPageEditing/components/BlogListingBlock/BlogListingItem.astro'
import { getOptimizelySdk } from '../../../../../services/graphql/getSdk'
interface Props {
  contentPayload: ContentPayload;
  data: ArticleListElementFragment;
  displaySettings: DisplaySettingsFragment[];
}
const { contentPayload, data } = Astro.props

const optiResponse = await getOptimizelySdk(contentPayload).getBlogPosts({
  loc: contentPayload.loc as Locales,
  limit: data.articleListCount
})
---
<div class="grid grid-cols-3 gap-20">
  {optiResponse.BlogPostPage.items.map((item) => (
    <BlogListingItem data={item} />
  ))}
</div>
