---
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { SiteSettingsByHostnameQuery } from '../../../__generated/sdk';
import { getClassForLogo } from './siteSettingsHelper';
import SearchPalette from './SearchPalette.astro';
const lang = Astro.currentLocale || '';

interface Props {
    siteSettings: SiteSettingsByHostnameQuery;
}

const { siteSettings } = Astro.props;
const settings = siteSettings.SiteSettings?.item;
const logoCss = getClassForLogo(settings?.LogoResoultion);
// const headerItems = getMenuItems(settings?.HeaderLinks);
---

<>
    <header class="list-none bg-white" x-data>
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex-1 md:flex md:items-center md:gap-12">
                    <a class="block text-teal-600" href="#">
                        <span class="sr-only">Home</span>
                        <img
                            src={settings?.Logo?.url?.default}
                            alt="Logo"
                            class={logoCss}
                        />
                    </a>
                </div>

                <div class="md:flex md:items-center md:gap-12">
                    <nav aria-label="Global" class="hidden md:block">
                        <ul class="flex list-none items-center gap-6 text-sm">
                            <li class="group relative">
                                <a
                                    class="flex items-center gap-1 text-gray-500 transition hover:text-gray-500/75"
                                    href="#"
                                >
                                    About
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-4 w-4"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </a>
                                <div
                                    class="ring-opacity-5 invisible absolute left-1/2 z-50 mt-2 min-w-[200px] -translate-x-1/2 transform rounded-md bg-white opacity-0 shadow-lg ring-1 ring-black transition-all duration-300 group-hover:visible group-hover:opacity-100"
                                >
                                    <div
                                        class="flex flex-col py-2"
                                        role="menu"
                                        aria-orientation="horizontal"
                                    >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Company Overview</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Our Team</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Mission & Vision</a
                                        >
                                    </div>
                                </div>
                            </li>

                            <li class="group relative">
                                <a
                                    class="flex items-center gap-1 text-gray-500 transition hover:text-gray-500/75"
                                    href="#"
                                >
                                    Services
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-4 w-4"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </a>
                                <div
                                    class="ring-opacity-5 invisible absolute left-1/2 z-50 mt-2 min-w-[200px] -translate-x-1/2 transform rounded-md bg-white opacity-0 shadow-lg ring-1 ring-black transition-all duration-300 group-hover:visible group-hover:opacity-100"
                                >
                                    <div
                                        class="flex flex-col py-2"
                                        role="menu"
                                        aria-orientation="horizontal"
                                    >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Consulting</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Development</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Support</a
                                        >
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a
                                    class="text-gray-500 transition hover:text-gray-500/75"
                                    href="#"
                                >
                                    Careers
                                </a>
                            </li>

                            <li class="group relative">
                                <a
                                    class="flex items-center gap-1 text-gray-500 transition hover:text-gray-500/75"
                                    href="#"
                                >
                                    Projects
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-4 w-4"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </a>
                                <div
                                    class="ring-opacity-5 invisible absolute left-1/2 z-50 mt-2 min-w-[200px] -translate-x-1/2 transform rounded-md bg-white opacity-0 shadow-lg ring-1 ring-black transition-all duration-300 group-hover:visible group-hover:opacity-100"
                                >
                                    <div
                                        class="flex flex-col py-2"
                                        role="menu"
                                        aria-orientation="horizontal"
                                    >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Case Studies</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Portfolio</a
                                        >
                                        <a
                                            href="#"
                                            class="block w-full px-6 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem"
                                            >Client Testimonials</a
                                        >
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a
                                    class="text-gray-500 transition hover:text-gray-500/75"
                                    href="#"
                                >
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="flex items-center gap-4">
                        <div class="sm:flex sm:gap-4">
                            <div class="relative">
                                <input
                                    type="text"
                                    placeholder="Search..."
                                    class="w-full cursor-pointer rounded-md border border-gray-200 px-5 py-2.5 pe-10 shadow-sm sm:text-sm"
                                    @click.prevent="$dispatch('open-command-palette')"
                                    readonly
                                />

                                <button
                                    type="button"
                                    class="absolute inset-y-0 end-0 grid w-10 place-content-center text-gray-600 hover:text-gray-700"
                                    @click.prevent="$dispatch('open-command-palette')"
                                >
                                    <span class="sr-only">Search</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="h-4 w-4"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="block md:hidden">
                            <button
                                class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="size-5"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    stroke-width="2"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <SearchPalette />
</>

<style>
    [x-cloak] {
        display: none !important;
    }
</style>
