---
import { randomBytes } from 'crypto';
import type {
    ArticleListFragment,
    ArticlePageExcerptFragment,
    DisplaySettingsFragment,
} from '../../../../__generated/sdk';
import { getOptimizelySdk } from '../../../graphql/getSdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import LinkButton from '../ButtonComponent/LinkButton.astro';

export interface Props {
    data: ArticleListFragment;
    displaySettings: DisplaySettingsFragment[];
    contentPayload: ContentPayload;
}
const { data, contentPayload } = Astro.props as Props;
const currentSite = Astro.url.origin;
const articlesList = await getOptimizelySdk(contentPayload).getArticles({
    //@ts-ignore
    loc: contentPayload.loc,
    site: currentSite,
    limit: data.NumberOfArticles || 1,
});
const glideId = randomBytes(5).toString('hex');
const items = articlesList.ArticlePage?.items || null;
---

<h1>{data?.Title}</h1>
<div class="mx-auto mt-4 mb-4 flex gap-8 overflow-x-auto flex-wrap">
    {
        //@ts-ignore
        items?.map((item: ArticlePageExcerptFragment, i) => {
            const cardImage = (item.PromoImage?.url?.default) ? item.PromoImage?.url?.default : "/placeholder.png";
            return (
                <div class="card bg-base-100 w-96 flex-shrink-0 shadow-sm flex flex-col">      
                    <figure>
                        <img
                            class="aspect-3/2 object-cover"
                            src={cardImage}
                            alt="promo image"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{item.Heading}</h2>
                        { item.Body?.html && 
                            <div set:html={item.Body?.html?.slice(0, 100) + "..."} />
                        }
                        <div class="card-actions justify-end mt-auto">
                          <LinkButton cssClassses="btn-primary" link={item._metadata?.url?.hierarchical}>Read more</LinkButton>
                        </div>
                    </div>
                </div>
            );
        })
    }
</div>
