---
import type { CompositionStructureNode } from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import Elements from '../../components/_Components.astro';
import { getColumnStyles } from './ColumnHelper';
import { getGlobalStyles } from '../../shared/globalStylesHelper';
export interface Props {
    column: CompositionStructureNode;
    contentPayload: ContentPayload;
}
const { column, contentPayload } = Astro.props as Props;
const styles = getColumnStyles(column);
const globalStyles = getGlobalStyles(column);
const allStyles = [...styles, ...globalStyles]
---

<div
    class:list={allStyles}
    class="vb:col flex w-full flex-col p-2 sm:p-3 md:flex-1 md:p-4"
>
    {
        column.nodes?.map((item: any) => (
            <Elements contentPayload={contentPayload} data={item}/>
        ))
    }
</div>
