---
import {IDisplaySettingsFragment, IHeadingElementFragment} from "../../../../services/graphql/__generated/sdk";
export interface Props {
    element: IHeadingElementFragment;
    displaySettings: IDisplaySettingsFragment[];
}
const {element, displaySettings} = Astro.props as Props;
---

<h1>{element.headingText}</h1>

