---
export interface Props {
    link?: string | null;
    cssClasses?: string | string[] | {};
}
const {cssClasses, link="/" } = Astro.props as Props;

const btnStyles = cssClasses;
---
<a class="btn my-1" class:list={btnStyles} href={link}>
    <slot />
</a>