---
interface Props {
    mode: string;
}
const { mode } = Astro.props as Props;
---

<div data-epi-block-id="dcd7dcd6-f27a-4ae8-a8cd-6963ff9bb963">
    <div
        class="mx-auto grid gap-8 rounded-xl md:grid-cols-1 md:gap-12 lg:gap-20"
        style="opacity: 1; transform: translateX(0px);"
    >
        <!-- Text Section (Appears Above) -->
        <div class="col-span-1 text-center md:text-left">
            <p class="mt-6 text-4xl font-bold">Heading goes here</p>
            <p class="mt-6 text-sm font-semibold">Sub heading goes here!</p>
            <p class="description mt-6">
                This is the best content that I can come up with!
            </p>
            <div class="z-20 mt-8 flex justify-center md:justify-start">
                <a href="/" class="btn btn-neutral btn-lg"> Click here </a>
            </div>
        </div>

        <!-- Image Section (Appears Below) -->
        <div class="relative mx-auto max-w-4xl">
            <img
                alt="Interior Painting"
                class="relative rounded-xl border border-transparent object-cover"
                decoding="async"
                height="700"
                loading="lazy"
                src="https://app-ocstkunalpl89s5vp001.cms.optimizely.com/globalassets/test/hero-image-stacey-on-sofa.jpg"
                width="1075"
            />
        </div>
    </div>
</div>
