---
interface Props {
    DisplayAs: string;
}
const { DisplayAs } = Astro.props as Props;
const cssClasses = {
    textOnRight:
        'mx-auto max-w-7xl grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-20',
    textOnLeft:
        'mx-auto max-w-7xl grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-20',
    textAboveCard:
        'mx-auto max-w-7xl grid gap-8 rounded-xl md:grid-cols-1 md:gap-12 lg:gap-20',
    textBelowCard:
        'mx-auto max-w-7xl grid gap-8 rounded-xl md:grid-cols-1 md:gap-12 lg:gap-20',
};
const cssClass = cssClasses[DisplayAs as keyof typeof cssClasses];
---

<div class={`${cssClass} opacity-100`}>
    <slot />
</div>
