---
interface Props {
    DisplayAs: string;
}
const { DisplayAs } = Astro.props as Props;
const cssClasses = {
    textOnRight:
        'mx-auto max-w-7xl flex flex-col gap-8 rounded-xl md:flex-row',
    textOnLeft:
        'mx-auto max-w-7xl flex flex-col-reverse gap-8 rounded-xl md:flex-row-reverse',
    textAboveCard:
        'mx-auto max-w-7xl flex flex-col-reverse gap-4 rounded-xl',
    textBelowCard:
        'mx-auto max-w-7xl flex flex-col gap-8 rounded-xl',
};
const cssClass = cssClasses[DisplayAs as keyof typeof cssClasses];
---

<div class={`${cssClass} opacity-100`}>
    <slot />
</div>
