---
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import Elements from '../../components/_Components.astro';
import LinkButton from '../../components/ButtonComponent/LinkButton.astro';

export interface Props {
    row: any;
    contentPayload: ContentPayload;
}
const { row, contentPayload } = Astro.props as Props;
let items:any = [];
row.columns?.map((column: any) => {
    column.elements?.map((item: any) => {
        items.push(item);
    });
});
---

<div class="carousel w-full">
    {
        items?.map((item: any, index: number) => (
            <div id={`slide${index}`} class="carousel-item relative w-full">
                <Elements contentPayload={contentPayload} data={item} />
                <div class="absolute top-1/2 right-5 left-5 flex -translate-y-1/2 transform justify-between">
                    <LinkButton cssClassses="btn-circle" link={`#slide${index === 0 ? items.length - 1 : index - 1}`}>❮</LinkButton>

                    <LinkButton cssClassses="btn-circle" link={`#slide${index === items.length - 1 ? 0 : index + 1}`}>❯</LinkButton>
                </div>
            </div>
        ))
    }
</div>
